---
layout: default
---

<h2><%= @this.title %> Posts</h2>

<ul>
<% @posts.each do |post| %>
<li><a href="/archives/<%= post.year %>/<%= post.month %>/<%= post.day %>/<%= post.slug %>/"><%= post.title %></a></li>
<% end %>
</ul>