---
layout: default
---

<h2>Posts on <%= @archive_date.strftime('%B %-d, %Y') %> (<%= @archive_year %>-<%= @archive_month %>-<%= @archive_day %>)</h2>

<ul>
<% @items.each do |post| %>
  <li><a href="/archives/<%= post.slug %>"><%= post.title %></a></li>
<% end %>
</ul>